<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/People">People <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/Planets">Planets <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/Films">Films <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/Species">Species <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/Vehicles">Vehicles <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/Starships">Starships <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
